body {
    background-color: aliceblue;
}
.post {
    background-color: white;
    padding: 10px 15px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 6px;
}
.active-btn{
    background-color: red;
}